body {
    height: 100vh;
}

h5,h3,h2 {
    font-weight: 600;
}

nav a.nav-link:hover {
    color: #C9C3B9;
}
.col-10 {
    background-color: #fcf6fa;
}

nav a.nav-link {
    color: #7D7973;
}

.navbar {
    background-color: #403E3B;
}
.userHeader {
    color: #C7C0C4;
    display: flex;
}
.user-content {
    border: 1px solid #dedede;
    border-radius: 5px;
}

.padding {
    padding-right: 25%;
    padding-left: 25%;
}

.container-fluid {
    height: 100vh;
}

.caption {
    border-bottom: 2px solid #dedede;
    background-color: #f0f0f0;
}

.new-user-caption {
    border: 1px solid #dedede;
    background-color: #f0f0f0;
}

#addUserForm {
    margin-left: 35%;
    margin-right: 35%;
}

#card-header {
    background-color: #fcf6fa;
}